<div class="kb-doc-search-container">
  <h2>{{ i18n "searchDocTitle" }}</h2>
  <form id="kb-search-form" style="width: 80%;" class="kb-search kb-search-form" method="get" action="">
    <div class="kb-search-box">
      <input type="text" id="kb-search-terms" name="kb-search-terms" value="" placeholder="{{ i18n "searchDocVerb" }}">
      <button type="submit" id="search-kb">{{ i18n "searchButton" }}</button>
      <div class="kb-query-error"></div>
    </div>
    <div id="kb-search-results"></div>
  </form>
</div>

<script type="text/javascript">
jQuery(document).ready(function($) {

	/* Variables -----------------------------------------------------------------*/
	var knowledgebase = $( '#epkb-main-page-container' );
	var tabContainer = $('#epkb-content-container');
	var navTabsLi    = $('.epkb-nav-tabs li');
	var tabPanel     = $('.epkb-tab-panel');


	/********************************************************************
	 *                      Search
	 ********************************************************************/

	// handle KB search form
	$( 'body' ).on( 'submit', '#epkb_search_form', function( e )
	{
		e.preventDefault();  // do not submit the form

		if ( $('#epkb_search_terms').val() === '' ) {
			return;
		}

		var postData = {
			action: 'epkb-search-kb',
			epkb_kb_id: $('#epkb_kb_id').val(),
			search_words: $('#epkb_search_terms').val()
		};

		var msg = '';

		$.ajax({
			type: 'GET',
			dataType: 'json',
			data: postData,
			url: ajaxurl,
			beforeSend: function (xhr)
			{
				//Loading Spinner
				$( '.loading-spinner').css( 'display','block');
				$('#epkb-ajax-in-progress').show();
			}

		}).done(function (response)
		{
			response = ( response ? response : '' );

			//Hide Spinner
			$( '.loading-spinner').css( 'display','none');

			if ( response.error || response.status !== 'success') {
				//noinspection JSUnresolvedVariable
				msg = epkb_vars.msg_try_again;
			} else {
				msg = response.search_result;
			}

		}).fail(function (response, textStatus, error)
		{
			//noinspection JSUnresolvedVariable
			msg = epkb_vars.msg_try_again + '. [' + ( error ? error : epkb_vars.unknown_error ) + ']';

		}).always(function ()
		{
			// TODO NEXT RELEASE $spinner.css('display', 'none');
			$('#epkb-ajax-in-progress').hide();

			if ( msg ) {
				$( '#epkb_search_results' ).css( 'display','block' );
				$( '#epkb_search_results' ).html( msg );

			}

		});
	});

});
</script>

<p>Search: <input id="search" type="text" autocomplete="off"></p>
<p>Results:</p>
<ul id="results"></ul>

<script type="text/javascript">
var lunrIndex,
    searchResults,
    pagesIndex;

// Initialize lunrjs using our generated index file
function initLunr() {
  fetch({{ "/index.json" | absLangURL }})
    .then(response => response.json())
    .then(function (index) {
      // console.log(index);
      pagesIndex = index;
      lunrIndex = lunr(function() {
        {{- if not (eq .Site.Language.Lang "en") }}
        this.use(lunr.fr);
        {{ end -}}
        this.field("title");
        this.field("content");
        // ref is the result item identifier (I chose the page URL)
        this.ref("url");
        // Feed lunr with each file and let lunr actually index them
        pagesIndex.forEach(function(page) {
          this.add(page);
        }, this);
      });
  }).catch(err => { throw err });
}

function initUI() {
  searchResults = $("#results");
  $("input[id='search']#search").keyup(function() {
    searchResults.empty();

    // Only trigger a search when 2 chars. at least have been provided
    var query = $(this).val();
    if (query.length < 2) {
      return;
    }

    var results = search(query);

    renderResults(results);
  });
}

/**
 * Trigger a search in lunr and transform the result
 *
 * @param  {String} query
 * @return {Array}  results
 */
function search(query) {
  // Find the item in our index corresponding to the lunr one to have more info
  // Lunr result:
  //  {ref: "/section/page1", score: 0.2725657778206127}
  // Our result:
  //  {title:"Page1", href:"/section/page1", ...}
  return lunrIndex.search(query).map(function(result) {
    return pagesIndex.filter(function(page) {
      return page.url === result.ref;
    })[0];
  });
}

/**
 * Display the 10 first results
 *
 * @param  {Array} results to display
 */
function renderResults(results) {
  if (!results.length) {
    return;
  }

  // Only show the ten first results
  results.slice(0, 10).forEach(function(result) {
    var singleResult = $("<li>");
    singleResult.append($("<a>", {
      href: result.url,
      text: result.title
    }));
    searchResults.append(singleResult);
  });
}

// Let's get started
initLunr();
document.addEventListener("DOMContentLoaded", function(event) {
  initUI();
});
</script>
