{{ if isset .Site.Params "news" }}
{{ if .Site.Params.news.enable }}
<section class="news">
  <div class="container">
    <div class="col-md-12">
      <div class="row equal">
      {{ range first 3 ( sort (where .Data.Pages "Section" "news") "Date" "desc" ) }}
        <div class="col-md-4">
          <div class="news-item">
            <a href="{{ .URL }}">
              {{/* <!-- <span class="news-title">{{ .Params.title }}</span> --> */}}
              <span class="news-date">{{ .Date.Format "January 2, 2006" }}</span>
              {{ .Params.description | markdownify | truncate 120 "…"}}
            </a>
          </div>
        </div>
      {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
