{{ $products := getJSON "/data/donation-amounts.json" }}

<div>
  <form id="give-form" class="give-form give-form give-form-type-multi float-labels-enabled fl-form fl-style-give" action="https://moodlebox.net/en/help/support-the-moodlebox-project/?payment-mode=paypal" data-currency_symbol="&euro;" data-currency_code="EUR" data-currency_position="before" data-thousands_separator="," data-decimal_separator="." data-number_decimals="0" method="post">
<!-- The following field is for robots only, invisible to humans: -->
    <span class="give-hidden" style="display: none !important;">
    <div class="fl-wrap fl-wrap-input">
      <label for="give-form-honeypot" class="fl-label"></label>
      <input id="give-form-honeypot" type="text" name="give-honeypot" class="give-honeypot give-hidden fl-input" placeholder="null">
    </div>
    </span>
    <input type="hidden" name="give-form-title" value="Support project MoodleBox">
    <input type="hidden" name="give-current-url" value="https://moodlebox.net/en/help/support-the-moodlebox-project/">
    <input type="hidden" name="give-form-url" value="https://moodlebox.net/en/help/support-the-moodlebox-project/">
    <input type="hidden" name="give-form-minimum" value="15">
    <input type="hidden" name="give-price-id" value="3">
    <div class="give-total-wrap">
      <div class="give-donation-amount form-row-wide">
        <span class="give-currency-symbol give-currency-position-before">€</span> <label class="give-hidden" for="give-amount">Donation Amount:</label>
        <input class="give-text-input give-amount-top" id="give-amount" name="give-amount" type="tel" placeholder="" value="20" autocomplete="off">
      </div>
    </div>
    <ul id="give-donation-level-radio-list" class="give-donation-levels-wrap">
      {{ range $products }}
      <li><input type="radio" data-price-id="{{ .id }}" class="give-radio-input give-radio-input-level give-radio-level-{{ .id }}{{ if .default }} give-default-level{{ end }}" name="give-radio-donation-level" id="give-radio-level-{{ .id }}" value="{{ .price }}"{{ if .default }} checked="checked"{{ end }}>
      <label for="give-radio-level-{{ .id }}">€{{ .price }} – {{ .name }}</label></li>
      {{ end }}
      <li><input type="radio" data-price-id="custom" class="give-radio-input give-radio-input-level give-radio-level-custom" name="give-radio-donation-level" id="give-radio-level-custom" value="custom">
      <label for="give-radio-level-custom">Custom amount</label></li>
    </ul>
   <button type="button" class="give-btn give-btn-modal">Donate now</button>
    <fieldset id="give-payment-mode-select" style="display: none;">
      <legend class="give-payment-mode-label">Select Payment Method <span class="give-loading-text" style="display: none;"><span class="give-loading-animation"></span> </span> </legend>
      <div id="give-payment-mode-wrap">
        <ul id="give-gateway-radio-list">
          <li class="give-gateway-option-selected">
          <input type="radio" name="payment-mode" class="give-gateway" id="give-gateway-paypal" value="paypal">
          <label for="give-gateway-paypal" class="give-gateway-option" id="give-gateway-option-paypal"> PayPal</label> </li>
        </ul>
      </div>
    </fieldset>
    <div id="give_purchase_form_wrap">
      <fieldset id="give_checkout_user_info">
        <legend>Personal Info</legend>
        <p id="give-first-name-wrap" class="form-row form-row-first form-row-responsive">
          <div class="fl-wrap fl-wrap-input fl-is-required">
            <label class="give-label fl-label" for="give-first">First Name</label>
            <input class="give-input required fl-input" type="text" name="give_first" placeholder="First Name" id="give-first" value="" required="" aria-required="true">
          </div>
        </p>
        <p id="give-last-name-wrap" class="form-row form-row-last form-row-responsive">
          <div class="fl-wrap fl-wrap-input">
            <label class="give-label fl-label" for="give-last">Last Name</label>
            <input class="give-input fl-input" type="text" name="give_last" id="give-last" placeholder="Last Name" value="">
          </div>
        </p>
        <p id="give-email-wrap" class="form-row form-row-wide">
          <div class="fl-wrap fl-wrap-input fl-is-required">
            <label class="give-label fl-label" for="give-email">Email Address</label>
            <input class="give-input required fl-input" type="email" name="give_email" placeholder="Email Address" id="give-email" value="" required="" aria-required="true">
          </div>
        </p>
      </fieldset>
      <fieldset id="give_purchase_submit">
        <p id="give-final-total-wrap" class="form-wrap ">
          <span class="give-donation-total-label"> Donation Total: </span> <span class="give-final-total-amount" data-total="20">€5</span>
        </p>
        <input type="hidden" name="give_action" value="purchase">
        <input type="hidden" name="give-gateway" value="paypal">
        <div class="give-submit-button-wrap give-clearfix">
          <input type="submit" class="give-submit give-btn" id="give-purchase-button" name="give-purchase" value="Donate now">
          <span class="give-loading-animation"></span>
        </div>
      </fieldset>
    </div>
  </form>
</div>
