<!-- Inspired from: https://chodounsky.net/2015/05/14/full-text-search-on-static-website/ -->
<form action="{{ "/search" | absLangURL }}" id="search-form" class="search" method="GET" >
  <input name="q" type="text" id="search-input" />
  <input type="submit" value="Search" />
</form>

<section>
  <div id="search-results"></div>
</section>

<script type="text/javascript" charset="utf-8">
var input = document.getElementById("search-input");
var form = document.getElementById("search-form");
var resultsContainer = document.getElementById("search-results");

function loadJSON(path, success, error) {
  var xhr = new XMLHttpRequest();
  xhr.overrideMimeType("application/json");
  xhr.onreadystatechange = function() {
    if (xhr.readyState === XMLHttpRequest.DONE) {
      if (xhr.status === 200) {
        if (success)
          success(JSON.parse(xhr.responseText));
      } else {
        if (error)
          error(xhr);
      }
    }
  };
  xhr.open("GET", path, true);
  xhr.send(null);
}

loadJSON({{ "/index.json" | absLangURL }},
  function(index) {
    var pagesIndex = index;
    var lunrIndex = lunr(function() {
      {{- if (eq .Site.Language.Lang "fr") }}
        this.use(lunr.fr);
      {{ end -}}
      this.field("title");
      this.field("content");
      // ref is the result item identifier (I chose the page URL)
      this.ref("url");
      // Feed lunr with each file and let lunr actually index them
      pagesIndex.forEach(function(page) {
        this.add(page);
      }, this);
    });

    var clearResults = function() {
      resultsContainer.innerHTML = "";
    };

    var renderResults = function(results) {
      if (results.length > 0) {
        results.forEach(function(result) {
          var article = document.createElement("article");
          var heading = document.createElement("h3");
          var link = document.createElement("a");
          var content = document.createElement("p");
          var len = 256;
          link.href = result.url;
          link.innerHTML = result.title;
          text = result.content;
          if (text.length > len) {
            /* Truncate the content of the P, then go back to the end of the
               previous word to ensure that we don't truncate in the middle of
               a word */
            text = text.substring(0, len);
            text = text.replace(/\w+$/, '');
            text += '...';
            content.innerHTML = text;
          }
          heading.appendChild(link);
          article.appendChild(heading);
          article.appendChild(content);
          resultsContainer.appendChild(article);
        });
      } else {
        var article = document.createElement("article");
        var heading = document.createElement("h3");
        var link = document.createElement("a");
        var content = document.createElement("p");
        link.href = '#';
        link.innerHTML = 'No results found';
        content.innerHTML = 'Please try another search';
        heading.appendChild(link);
        article.appendChild(heading);
        article.appendChild(content);
        resultsContainer.appendChild(article);
      }
    };

    var search = function(query) {
      clearResults();
      results = lunrIndex.search(query).map(function(result) {
        return pagesIndex.filter(function(page) {
          return page.url === result.ref;
        })[0];
      });
      // console.log(results);
      renderResults(results);
    };

    form.addEventListener("submit", function(e) {
      e.preventDefault();
      search(input.value + '*');
    });

  },
  function(xhr) { console.error(xhr); }
);

</script>
